/node_modules
/web/hot
/web/storage
/web/images
/web/fonts
/web/css
/web/js
/web/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
