@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300);

@import "vendor/bootstrap";

img {
  max-width: 100%;
}

.navbar-brand img {
  max-width: 38px;
  margin-top: -9px;
  display: block;
  float: left;
}

.navbar-brand span {
  display: block;
  float: left;
  margin-left: 1em;
}
